<h1>Menu#new</h1>
<p>Find me in app/views/menu/new.html.erb</p>

<div class="inscrivez-vous">
<h1>Inscrivez-vous</h1>
<p>Vous êtes un cabinet d'avocat et vous voulez que vos collaborateurs puissent être sur le site alors n'hésitez pas, la 1ère année est gratuite !</p>
<form action="/page-traitement-donnees" method="post">
<div>
<label for="cabinet d'avocat'">Votre cabinet d'avocat</label>
<input type="text" id="cabinet d'avocat'" name="cabinet d'avocat'" placeholder="Lantier Asoocié" required>
</div>
<div>
<label for="sujet">Sélectionnez la compétence</label>
<select name="sujet" id="sujet" required>
<option >Choisissez le domaine de votre cabinet</option>
<option >Avocat généraliste</option>
<option >Droit immobilier</option>
<option >Droit du travail</option>
</select>
</div>
<div>
<label for="nom">Votre nom</label>
<input type="text" id="nom" name="nom" placeholder="Jean" required>
</div>
<div>
<label for="prénom">Votre prénom</label>
<input type="text" id="prénom" first_name="pr"prénom placeholder="Valjean" required>
</div>
<div>
<label for="email">Votre e-mail</label>
<input type="email" id="email" name="email" placeholder="jeanvaljean@mail.com" required>
</div>
<div>
<label for="email">Adresse de votre cabinet</label>
<input type="adress" id="adress" name="adress" placeholder="14 rue Victor Hugo 75016 Paris" required>
</div>
<div>
<label for="email">Numéro de votre cabinet</label>
<input type="telephone" id="telephone" name="telephone" placeholder="010203040506" required>
</div>
<div>
<button type="submit">Inscrivez-vous</button>
</div>
</form>
</div>