* {
    margin : 0;
    padding : 0;
}

.landing {
    background-image : url(/assets/petitefemme-2985a2bd40d2372a4e0181af395d1944b3fdf9efee1e1553fb2ad025a5d4fe76.jpg);
    background-size: cover;
    background-position: center;
    height : 100vh;
}

.flex {
    display : flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.navbar {
    padding : 0;
    width : 100vw;
    height : 120px;
}

.nav-div {
    width : 25vw;
    height : 100%;
    background-color: black;
}

.nav-div img{
    height : 100%;
}

.logo-div {
    background-color: #CA0707;
    display: block;
    text-align: left;
}

.red-nav-links {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display : block;
    display : flex;
    align-items: center;
    justify-content: center;
    height : 100%;
    width : 100%;
    color : whitesmoke;
    font-size: 100%;
}

.landing-picture {
    height : 30vh;
}

.explanation {
    height : 40vh;
    padding : 30px;
    display : flex;
    align-items: center;
    color : whitesmoke;
    border-radius: 30px;
}

.gradient {
    background: linear-gradient(#CA0707, #9198e500);
}
.login {
  text-align: center;
  border-radius: center;
  background-color: rgb(180, 35, 35);
  border-radius: 100px 0px 100px 0px;
  color: white;
  letter-spacing: 5px;
  line-height: 2;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

