.footer{
    background:#b80606fb;
    position:fixed;
    left:0px;
    bottom:0px;
    height:65px;
    width:100%;
}


.jumbotron {
  background-image: url("https://images-ext-1.discordapp.net/external/8ovYYNGWONMLD0GoeCoJPTgmcugdeuPKnQ379q1uJ1w/http/apps.hyblab.fr/ddj2019/region-pdl-audio/img/marteau.gif");
  height: 80vh;
  line-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
}
