.footer{

    background:#CA0707;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    
}
.container {
  font-family: 'AnjaliOldLipi', "sans-serif";
  color: #CA0707;
}

.row{

  background-image: url(https://i.skyrock.net/0868/82420868/pics/3099230141_1_9_blMg8tkc.gif);
}