<div class="navbar  navbar-expand-lg flex">
    <div class="nav-div logo-div"><a href="#"><%= image_tag "red_logo" %></a></div>
    <div class="nav-div"><a class="red-nav-links" href="rdv">PRENDRE UN RENDEZ-VOUS</a></div>
    <div class="nav-div"><a class="red-nav-links" href="aide">AIDE</a></div>
    <div class="nav-div"><a class="red-nav-links" href="login">SE CONNECTER</a></div>
</div>