<div class="landing">
<%= render 'nav' %>
    <div class="board">
        <form action="/firms" method="get" accept-charset="UTF-8" >
            <input type="number" name="zip_code" id="zip_code" step="1" min="1" max="95" />
            <input name="commit" type="submit" value="Search" data-disable-with="Search" />
        </form>
    </div>
</div>