<body class="body-show">
  <div class="image-text"><h1 style="font-size:5rem"><span style="color:#8f0e0e; font-weight: 900"><%= @firm.name %></span><span style="color:#6e5308;font-weight: 700">FIRM</span></h1>
    <p>Le meilleur des cabinets d' avocats!</p>    <button type="button" class="btn btn-outline-danger">Prende un rendez-vous</button>  
  </div>
</body>




